body{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	background: #607d8b;
}
.in{
	width: 300px;
	height: 300px;
	top: calc(50% - 150px);
	left: calc(50% - 100px);
	position: absolute;
	border-radius: 50%;
	background: radial-gradient(#fff,#d1fffc,#37c6fb,#00a8ff);
}
.box{
	width: 300px;
	height: 300px;
	top: calc(50% - 150px);
	left: calc(50% - 100px);  
	position: absolute;
	transform: perspective(2000px) rotateX(0deg);
	transform-style: preserve-3d;
	transition: 0.5s;
}
.box div{
	top: 0;
	left: 0;
	transform-style: preserve-3d;
	position: absolute;
	width: 100%;
	height: 100%;
	animation:drive 0.4s linear infinite;
}
.box div span{
	width: 300px;
	height: 300px;
	display: block;
	border:0.6px solid white;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.box div span:nth-child(1){transform: rotateX(0deg)}
.box div span:nth-child(2){transform: rotateX(30deg)}
.box div span:nth-child(3){transform: rotateX(60deg)}
.box div span:nth-child(4){transform: rotateX(-30deg)}
.box div span:nth-child(5){transform: rotateX(-60deg)}
.box div span:nth-child(6){transform: rotateX(90deg)}
@keyframes drive{
	0%{transform: perspective(1000px) rotateY(0deg) rotateZ(0deg) rotateY(0deg)}
	100%{transform: perspective(1000px) rotateY(359deg) rotateZ(359deg) rotateY(359deg)}
} 

.end{
	width: 300px;
	height: 300px;
	top: calc(50% - 150px);
	left: calc(50% - 100px);
	position: absolute;
	transform: perspective(2000px) rotateZ(90deg);
	transform-style: preserve-3d;
	transition: 0.5s;
}
.end div{
	top: 0;
	left: 0;
	transform-style: preserve-3d;
	position: absolute;
	width: 100%;
	height: 100%;
	animation:drivess 0.4s linear infinite;
}
.end div span{
	width: 300px;
	height: 300px;
	display: block;
	border:0.6px solid white;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.end div span:nth-child(1){transform: rotateX(0deg)}
.end div span:nth-child(2){transform: rotateX(30deg)}
.end div span:nth-child(3){transform: rotateX(60deg)}
.end div span:nth-child(4){transform: rotateX(-30deg)}
.end div span:nth-child(5){transform: rotateX(-60deg)}
.end div span:nth-child(6){transform: rotateX(90deg)}
@keyframes drivess{
	0%{transform: perspective(1000px) rotateZ(0deg) rotateX(0deg) rotateY(0deg)}
	100%{transform: perspective(1000px) rotateZ(359deg) rotateX(359deg) rotateY(359deg)}
} 
